.logo {
    color:#fff;
    font-size: 26px;
    margin-left: 30px;
    padding-top: 5px;
}
.login {
    color:#fff;
    float: right;
    margin-right: 30px;
    font-size: 18px;
    text-decoration: underline;
}