.playlist-header-container {
    align-items: center;
    display: flex;
    justify-content:center;
    margin-top: 5vh;
    width: 100%;
}
.album-songs-container {
    align-items: center;
    background: linear-gradient(-45deg, #42275a, #141e30);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    height: 45px;
    width: 24%;
}
.album-songs-container-songs {
    align-items: center;
    background: linear-gradient(-45deg,#141e30, #42275a);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    height: 45px;
    width: 24%;
}
.album-songs {
    align-items: center;
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content:center;
    height: 100%;
    width: 100%;
}
