#player {
    background: linear-gradient(-45deg,#89253e, #333399);
    background-size: 400% 400%;
    float: right;
    top: 0;
    height: 70vh;
    width: 25%;
    margin-right: 0.5rem;
    
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.player-song-photo {
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../../Assets/emmanho1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s;
    margin-left: 4rem;
    border-radius: 200px;
    /* border-top-left-radius: 500px; */
    margin-top: 0.5rem;
    height: 12rem;
    width: 12rem;
}

.player-artist-name {
    font-size: 20px;
    color: #B0B0B0;
    text-align: center;
}
.player-song-title {
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-top: 0.5rem;
}

.slider_container {
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 80%;
    border-radius: 20px;
}
.slider_time_container {
    display: flex;
    color: #B0B0B0;   
    font-size: 14px;
    justify-content: space-between;
}
.current-time {
}

.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    border-radius: 20px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 100%;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    border-radius: 20px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    bottom: 0;
    margin-bottom: 5rem;
    position: absolute;
    width: 5rem;
}

.btn_container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}
.pause_play_btns {
    cursor: pointer;
    display: flex;
}
.pause_btn {
    background-color: #fff;
    border-radius: 50px;
    height: 2rem;
    width: .5rem;
}
.play_btn {
width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 15px 0px 15px 30px;
  border-color: transparent transparent transparent #fff;
}